/* Allgemeines Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Grundlegende Seitenstile */
body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f; /* Dunkles Grau */
  color: #e0e0e0; /* Helles Grau */
  padding: 20px;
  text-align: center;
}

/* Header und Menü */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.hamburger {
  font-size: 1.8em;
  background: none;
  border: none;
  color: #e0e0e0; /* Helles Grau */
  cursor: pointer;
}

/* Hidden class to initially hide the menu */
.hidden {
  display: none;
}

nav.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c2c; /* Sehr dunkles Grau */
  padding: 10px;
  border-radius: 5px;
  transition: max-height 0.3s ease-out;
}

nav.menu a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 15px;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #333; /* Dunkles Grau */
  transition: background-color 0.3s;
}

/* Farben für Links */
nav.menu a:hover {
  background-color: #4e8e8e; /* Smaragdgrün */
  color: #e0e0e0;
}

.hidden {
  display: none;
}

.submenu {
  display: none;
}

/* Dropdown-Untermenü für Projekte */
nav.menu a[href="projekte.html"]:hover + .submenu,
nav.menu .submenu:hover {
  display: block;
}

.submenu a {
  background-color: #2c2c2c; /* Dunkler als das Hauptmenü */
}

.submenu a:hover {
  background-color: #8b0000; /* Weinrot */
}

h1 {
  font-size: 2.5em;
  color: #4e8e8e; /* Smaragdgrün */
  margin-bottom: 20px;
}

p {
  color: #ccc; /* Helles Grau */
  line-height: 1.6;
  font-size: 1.1em;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav.menu {
    max-height: 400px;
    overflow: hidden;
  }

  .hidden {
    display: flex;
  }
}

/* Footer (Falls benötigt) */
footer {
  margin-top: 20px;
  color: #e0e0e0;
  background-color: #333;
  padding: 10px;
  font-size: 0.9em;
}

/*Navy Blue: #000080 - Emerald green: #4e8e8e - Wine Red: #8b0000 */

.impressum {
  text-align: left;
}

.AGB {
  text-align: left;
}

.Datenschutzerklärung {
  text-align: left;
}

.LP {
  background-color: #4e8e8e;
  border-radius: 8px;
  border-color: #4e8e8e;
  color: #e0e0e0;
  padding: 10px;
}

.FP {
  background-color: #4e8e8e;
  border-radius: 8px;
  border-color: #4e8e8e;
  color: #e0e0e0;
  padding: 10px;
}

#home {
  border-radius: 30px;
  margin-left: 1027px;
  margin-top: -250px;
}
